.user-information {
    padding-left: 10px;
    display: flex;
    // border: 1px solid antiquewhite;
    &__info,
    &__to-login {
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }
    .username {
        font-weight: bold;
    }
}